{% extends "base.html" %}
{% load static from staticfiles %}

{% block meta_title %}
    {{ article.meta_title }}
{% endblock %}

{% block meta_description %}
    {{ article.description }}
{% endblock %}


{% block extra_head %}
    {{ block.super }}
    {% include 'includes/twitter_card.html' %}
    {% include 'includes/facebook_open_graph.html' %}
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block breadcrumb_menu %}

    {% for article in article.get_parent_stories %}
        <li class="active"><a href="{{ article.get_absolute_url }}">{{ story.title }}</a></li>
    {% endfor %}
    
    {% if article.custom_post_type == 'newsanalysis' %}
        <li><a href="/politics/">Politics</a></li>
    {% endif %}
    <li>{{ article.title }}</li>

{% endblock %}


{% block article_detail_featured_image %}
    {% include 'includes/article_header_title.html' %}
{% endblock %}

{% block main %}

    <div class="content dynamic-height-container">
        <div class="post-meta">
            <div class="author">

                {% if article.get_authors %}
                <p>by {{ article.get_authors|safe }}</p>
                {% endif %}

                <div class="date">{{ article.publish_date|date:"m.d.Y" }}</div>

            </div>
            {% include 'includes/social_buttons.html' with show_follow_button=True %}
        </div>
        {% if article.partners %}
        <div class="partner-author">
            {% if article.partners.exists %}
                <p>IN PARTNERSHIP WITH</p>
                {% for partner in article.filtered_partners %}

                    {% if partner.link_to_articles %}
                        <a href="{{ partner.get_absolute_url }}">
                            <img src="{{ partner.image.file.url }}" class="partner_logo_in_content" />
                        </a>
                    {% else %}
                        <img src="{{ partner.image.file.url }}" class="partner_logo_in_content" />
                    {% endif %}

                {% endfor %}
            {%  endif %}
        </div>
        {% endif %}
        <div class="entry">

            {{ article.processed_content|safe }}
            {% comment %}
            {% if article.show_subscription_form %}
                {% subscriber_gets_newsletter as gets_newsletter %}
                {% if not gets_newsletter %}
                    {% is_following_content 'article' article.id as is_following %}
                    {% if not is_following %}
                        <div class="newsletter_in_article">
                            {% include "theme/includes/newsletter_form.html" %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% endcomment %}

        </div>
    </div>
    <!-- / content -->


    {% for atom in article.get_placeholder_atoms_for_sidebar %}
        {% include 'includes/bits/sidebar_atom_placeholder.html' %}
    {% endfor %}

    {% for atom in article.get_noncontent_atoms %}
        {%  comment %}
        include 'includes/bits/sidebar_atom.html' with display_type=atom_display_type
        Todo:  rework atoms to not need to have position parsed out of content.
        {%  endcomment %}
        {% include 'includes/bits/sidebar_atom.html' with display_type=atom.atom_display_type %}
    {% endfor %}

    {% if more_articles %}
    <!-- Sidebar (dynamic height) Related Stories version: -->
    <div class="pin-holder separate dynamic-height desktop-only">
        <aside class="sidebar">
            <div class="related-side">
                <h4>RELATED STORIES</h4>
                {% for post in more_articles %}
                    <article>
                    <div class="image">
                        {% if post.image %}
                            <img src="{{ post.image.file.thumbnail.60x60 }}" />
                        {% else %}
                                <img src="{% static post.DEFAULT_ARTICLE_IMAGE %} " style="max-width:60px;">
                        {% endif %}
                    </div>
                    <div class="wrap">
                        <div class="meta">
                        {% if post.custom_post_type != 'external' %}
                            <a href="#">{{post.get_custom_post_type_title|upper}}</a> {{ post.publish_date|date:'m.d.Y' }}
                        {% else %}
                            {{ post.post_type_link|safe }}
                        {% endif %}
                        </div>
                        <h3>
                            {% if post.custom_post_type == 'external' %}
                                <a href="{{ post.custom_link }}" target="_blank"> {{ post.title }} </a>
                            {% else %}
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            {% endif %}
                        </h3>

                        {% if post.get_authors %}
                            <p class="by">by {{post.get_authors|safe}}</p>
                        {% endif %}

                    </div>
                </article>
                {% endfor %}
            </div>
        </aside><!-- .sidebar -->
    </div>
    {% endif %}
    
    {% if article.related_persons.all %}
        <div class="pin-holder separate dynamic-height">
            <aside class="sidebar">
                <div class="who-side">
                    <h4>WHO’S INVOLVED</h4>
                    {% for person in article.related_persons.all %}
                    <article>
                        <div class="image">
                            <img src="{{MEDIA_URL}}{{ person.image.file.thumbnail.105x105 }}" alt="">
                            <a href="{{person.get_absolute_url}}" class="more"></a>
                        </div>
                        <a href="{{person.get_absolute_url}}">{{person.name}}</a>
                    </article>
                    {% endfor %}
                </div>
            </aside><!-- .sidebar -->
        </div>
    {% endif %}

    {% if more_articles %}
    <div class="pin-holder more-stories">
        <div class="content">
            <h2>More Articles</h2>
            <section>
            {% for article in more_articles %}
                <article>
                    <div class="image">
                        {% if article.image %}
                            <img src="{{ article.image.file.thumbnail.700x700 }}" alt="{{ article.title }}">
                        {% else %}
                                <img src="{% static article.DEFAULT_ARTICLE_IMAGE %}">
                        {% endif %}
                    </div>
                    <div class="wrap">
                        <div class="meta">
                            {{ article.published|date:"m.d.Y" }}
                        </div>

                        <h3>
                        {% if article.custom_post_type == 'external' %}
                            <a href="{{ article.custom_link }}" target="_blank"> {{ article.title }} </a>
                        {% else %}
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        {% endif %}
                        </h3>

                        {% if article.get_authors %}
                            <p class="by">by {{ article.get_authors|safe }}</p>
                        {% endif %}

                    </div>
                </article>
            {% endfor %}
            </section>
        </div>
        <!-- / content -->
    
        <aside class="sidebar">
        </aside>
        <!-- / sidebar -->
    </div>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{%  static 'js/subscribe_form.js' %}"></script>
{% endblock %}
