{% extends "home.html" %}

{%  block the_basics %}
    {%  comment %}
        The Basics and Recent Project were switched.   Note that the dynamic data
        was swapped, but the styles and class names stayed the same.
    {%  endcomment %}

    <div class="thebasics">
        <div class="basics_title">Recent Projects</div>
        {%  for project in home.recent_projects|slice:":4"  %}
            <div id="basic{{ forloop.counter }}" class="basics_text">
                <a href="{{ project.get_absolute_url }}">
                    <img class="basics_img" src="{{ project.image.file.url }}">
                    <div id="basics_text{{ forloop.counter }}">{{ project.title }}</div>
                </a>
            </div>
        {%  endfor %}
    </div>
{%  endblock %}

{%  block the_recents %}
    <div id="recent_projects" class="intheworks">
        <div class="text">
            <p class="itw_title">THE BASICS</p>
            <div class="itw_list">
                <div class="itw_links">
                {%  for article in home.yield_the_basics %}
                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    {%  if not forloop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;{%  endif %}
                {% endfor %}
                </div>

            </div>
        </div>
    </div>
{%  endblock %}