{% extends "base.html" %}

{% load static from staticfiles %}

{%  block extra_head %}
    {% include 'includes/twitter_card_home.html' %}
    {% include 'includes/facebook_open_graph.html' %}
{%  endblock %}

{% block 'home_breadcrumb' %}
    <p>{{ home.masthead_copy }}</p>
{% endblock %}

{% block main %}
    <div id="body">
        <div class="container">

        {%  if home.has_in_the_works %}
            <div id="itw_full" class="intheworks">
                <div class="text">
                    <p class="itw_title">IN THE WORKS</p>
                    <div class="itw_list">
                        <div class="itw_links">
                            {%  for itw_block in home.yield_in_the_works_titles %}
                                <a href="{{  itw_block.url }}" target="_blank">{{  itw_block.label }}</a>
                                {%  if not forloop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;{%  endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div><!-- In the Works Section Full Site-->
        {%  endif %}

    
    <div id="upper_articles">
        <div id="main_article" class="featured-intr">
            <img src="{{ home.primary_article.image.file.url }}" alt="Featured background one" />
            <div id="main_article_text" class="text">
                <h2>
                        {% if home.primary_article.custom_post_type == 'external' %}
                            <a href="{{ home.primary_article.custom_link }}" target="_blank"> {{ home.primary_article.title }} </a>
                        {% else %}
                            <a href="{{ home.primary_article.get_absolute_url }}">{{ home.primary_article.title }} </a>
                        {%  endif %}

                </h2>
                <p>
                    {{ home.primary_article.description|truncatewords_html:20|safe }}
                </p>
                <p class="by">
                        {% if home.primary_article.custom_post_type == 'external' %}
                            {{ home.primary_article.custom_source }}
                        {% elif home.primary_article.get_authors %}
        	                by {{ home.primary_article.get_authors|safe }}
                        {% endif %}
                </p>
				<hr class="main_article_rule">
				<p class="article_partners">Our partners: Contra Costa Times, Daily Breeze, 89.3 KPCC, and 22 others</p>
            </div>
        </div>
        <div class="sub_articles">
            <div id="second_article" class="featured-intr">
                <img class="secondary_article_imgs" src="{{ home.secondary_article_left.image.file.thumbnail.385x255 }}" alt="Featured background two" />
                <div id="second_article_text" class="text">
                    <h2>
                        {% if home.secondary_article_left.custom_post_type == 'external' %}
                            <a href="{{ home.secondary_article_left.custom_link }}" target="_blank"> {{ home.secondary_article_left.title }} </a>
                        {% else %}
                            <a href="{{ home.secondary_article_left.get_absolute_url }}">{{ home.secondary_article_left.title }} </a>
                        {%  endif %}
                    </h2>
                </div>
            </div>
        
            <div id="third_article"  class="featured-intr">
                <img class="secondary_article_imgs" src="{{ home.secondary_article_right.image.file.thumbnail.385x255 }}" alt="Featured background three" />
                <div id="third_article_text" class="text">
                    <h2>
                        
                        {% if home.secondary_article_right.custom_post_type == 'external' %}
                            <a href="{{ home.secondary_article_right.custom_link }}" target="_blank"> {{ home.secondary_article_right.title }} </a>
                        {% else %}
                            <a href="{{ home.secondary_article_right.get_absolute_url }}">{{ home.secondary_article_right.title }} </a>
                        {%  endif %}
                        
                    </h2>
                </div>
            </div>
        </div>
    </div>

    {%  if home.has_in_the_works %}
        <div id="itw_mobile" class="intheworks">
            <div class="text">
                <p class="itw_title">IN THE WORKS</p>
                <div class="itw_list">
                    <div class="itw_links">
						{%  for itw_block in home.yield_in_the_works_titles %}
							<a href="{{  itw_block.url }}" target="_blank">{{  itw_block.label }}</a>
							{%  if not forloop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;{%  endif %}
						{% endfor %}
					</div>
                </div>
            </div>
        </div><!-- In the Works Section Full Site-->
    {%  endif %}


    <div id="news_partners_basics">
        <div id="news_partners">
            <div class="newsletter">
                <h2>Sign up for more</h2>
                <div class="form_holder">
                    <form  action="/subscribe/" onsubmit="newsletter_ajax_submit(this);" id="id-subscribe-form" method="post" ><div class="form-group" ><label for="id_email" class="control-label  requiredField">
                    Email<span class="asteriskField">*</span></label><div class="controls "><div class="input-group"><input class="textinput textInput form-control" id="id_email" name="email" placeholder="Enter your email" type="email" /> <span class="input-group-btn"><button  type="submit" class="btn">SUBMIT</button> </span></div></div></div></form>
                </div>  
            </div>

            <div class="partners">
                <div id="partners_text" class="text"><p>We publish with over 50 partners including:</p></div>
                    <div class="partner_logos">
                        {% for partner in home.partners %}
                            <a target="_blank" href="{{ partner.get_absolute_url }}">
                                <img class="partner_img" src="{{ partner.image.file.url}}"
                                     alt="{{ partner.title }}"></a>
                        {%  endfor %}
                        <a href="#"><div id="more_partners_link">MORE PARTNERS</div></a>
                    </div>
                </div>
            </div>

        <div class="thebasics">
            <div class="basics_title">The Basics</div>
            {%  for article in home.yield_the_basics %}
            <div id="basic{{ forloop.counter }}" class="basics_text">
                <a href="{{ article.get_absolute_url }}">
                    <img class="basics_img" src="{{ article.image.file.url }}">
                    <div id="basics_text{{ forloop.counter }}">{{ article.title }}</div>
                </a>
            </div>
            {%  endfor %}
        </div>
    </div>
    <div style="clear:both;"></div>

    <div id="recent_projects" class="intheworks">
        <div class="text">
            <p class="itw_title">RECENT PROJECTS</p>
            <div class="itw_list">
                <div class="itw_links">
                {%  for project in home.yield_recent_projects %}
                    <a href="{{  project.get_absolute_url }}">{{  project.title }}</a>
                    {%  if not forloop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;{%  endif %}
                {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <div class="mid_section_links">
        <div id="education_box">
            <div id="education_title" class="text">Education</div>
            <a href="{% url 'article_list_category' 'education' %}">
                <img class="mid_section_img" src="{%  static 'img/education_classroom.png' %}">
            </a>
        </div>
        <div id="finance_box">
            <div id="finance_title" class="text">Finance</div>
            <a href="{% url 'article_list_category' 'education' %}">
                <img class="mid_section_img" src="{%  static 'img/finance_computer.png' %}">
            </a>
        </div>
        <div id="health_box">
            <div id="health_title" class="text">Health</div>
            <a href="{% url 'article_list_category' 'healthcare' %}">
                <img class="mid_section_img" src="{%  static 'img/health_stethoscope.png' %}">
            </a>
        </div>
        <div id="environment_box">
            <div id="environment_title" class="text">Environment</div>
            <a href="{% url 'article_list_category' 'environment-1' %}">
                <img class="mid_section_img" src="{%  static 'img/environment_windturbine.png' %}">
            </a>
        </div>
    </div>
    <div style="clear:both;"></div>

    {%  if home.politics_author %}
        <div class="politics">
            <div class="politics_heading">Politics</div>
            <a href="{{ home.politics_author.get_absolute_url }}">
                <img class="politics_img" src="{{ home.politics_author.image.file.url }}" alt="Politic author image">
            </a>
            <div class="columnist col">
                <ul>
                    {% for article in home.recent_politics_articles %}
                        <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                    {%  endfor %}
                </ul>
            </div>
            <div class="quote_full">
                <div class="politics_quote">
                    {{ home.politics_quote }}
                </div>
                <div class="quote_cred">
                    {{ home.politics_author.full_name }}
                </div>
            </div>
        </div>
      <div style="clear:both;"></div>
    {% endif %}

    <!-- Atom Section -->
    <div class="atoms" style="padding-top: 100px">
        {% if home.atoms.exists %}
            {% include 'includes/home_atom.html' %}
        {% endif %}
    </div>
    <div style="clear:both;"></div>
    <!-- Atom Section end -->


    <div class="featured-intr2">

        {%  with main_headline=home.yield_ordered_headline_articles|first %}
        <img src="{{ main_headline.image.file.thumbnail.1200x1200 }}" alt="Featured background two" />
        <div class="text">
            <h2><a href="{{ main_headline.get_absolute_url }}">{{ main_headline.title }}</a></h2>

            {% if main_headline.get_authors %}
                <p class="by">by {{ main_headline.get_authors|safe }}</p>
            {% endif %}
        </div>
        {%  endwith %}
    </div>


    <div class="headlines">
        <h2>More Headlines</h2>
        <div class="slides">
            {%  for article in home.yield_ordered_headline_articles|slice:"1:" %}
            <div class="item tem1">
                <h3><a href="{{ article.get_absolute_url }}">
                    {{ article.title }}</a></h3>
                <p class="by">
                    {% if article.custom_post_type == 'external' %}
                        {{ article.custom_source }}
                    {% elif article.get_authors %}
                        by {{ article.get_authors|safe }}
                    {% endif %}
                </p>
            </div>
        {%  endfor %}
        </div>
    </div>


    <div class="recent-stories articles">

        <div class="content">
            <h2>Articles</h2>

            <section>
                {% for article in home.recent_non_politics_articles %}
                    <article>
                        <div class="image">
                            {% if article.image %}
                                <img src="{{ article.image.file.thumbnail.310x220 }}" alt="">
                            {% else %}
                                <img src="{% static article.DEFAULT_ARTICLE_IMAGE %}">
                            {% endif %}
                        </div>
                        <div class="wrap">
                            <div class="meta"><a href="{{ article.get_post_type_url }}">{{article.get_custom_post_type_title|upper}}</a> {{ article.publish_date|date:"m.d.Y" }}</div>
                            <h3>
                                {% if article.custom_post_type == 'external' %}
                                    <a href="{{ article.custom_link }}" target="_blank"> {{ article.title }} </a>
                                {% else %}
                                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                                {% endif %}
                            </h3>
                            <p>{{ article.description|truncatewords_html:20|safe }}</p>

                            {% if article.get_authors %}
                            <p class="by">by {{ article.get_authors|safe }}</p>
                            {% endif %}

                        </div>
                    </article>
                {% endfor %}
            </section>

        </div><!-- .content -->
    </div><!-- .recent-stories.articles -->



                </div><!-- .container -->
            </div><!-- .body -->

{% endblock %}