{% load static from staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    
    <title>CALmatters | CA policies unveiled</title>
    <meta name="keywords" content="">
    <meta name="description" content="A nonprofit, nonpartisan media venture explaining California&#39;s policies and politics.">

    <link rel="shortcut icon" href="https://calmatters.org/static/theme/img/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/articles/feeds/rss/">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/articles/feeds/atom/">
    
    
        <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" media="all" href="https://calmatters.org/static/theme/frontend/css/stackicons/css/stackicons-social-minimal.min.css">
        <link rel="stylesheet" media="all" href="https://calmatters.org/static/theme/frontend/css/font-awesome-4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" media="all" href="https://calmatters.org/static/theme/frontend/css/general.css">
        <link rel="stylesheet" media="screen" href="https://calmatters.org/static/theme/frontend/js/magnificpopup-1.0.0/magnific-popup.min.css">
        <link rel="stylesheet" media="screen" href="{%  static 'css/style.css'  %}">
        <link rel="stylesheet" media="print" href="https://calmatters.org/static/theme/frontend/css/print.css?version=1.4.7">
        
    

    <script src="//use.typekit.net/let5ryr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("a1972c6c0498dccec6f3d999d7b2fce9");</script>

<script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("2084127977");
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59722930-1', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');
</script>

<script>
/**
* Function that tracks a click on an outbound link in Google Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label. Setting the transport method to 'beacon' lets the hit be sent
* using 'navigator.sendBeacon' in browser that support it.
* Visit for more details: https://support.google.com/analytics/answer/1136920?hl=en
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {
     'transport': 'beacon',
     'hitCallback': function(){document.location = url;}
   });
}
</script>
    
    <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1536785689966029');
    fbq('track', "PageView");
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1536785689966029&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

    
    <!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@calmatters" />
<meta name="twitter:title" content="CALmatters.org" />
<meta name="twitter:description" content="A nonprofit, nonpartisan media venture producing compelling stories on policies, personalities and money in Sacramento" />
    <meta property="og:site_name" content="CALmatters"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="CALmatters | CA Policies Unveiled" />
<meta property="og:url" content="https://calmatters.org" />
<meta property="og:description" content="A nonprofit, nonpartisan media venture explaining California&#39;s policies and politics." />



</head>

<body id="home" class="">

  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T5N6LZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T5N6LZ');</script>
<!-- End Google Tag Manager -->

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1542163812735494&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>


	<div class="mask"></div>
	<div class="main-wrapper">
        <div class="inner-wrapper">

            

            <div class="left-scroll-menu">
                <div class="accordion-content">
                    <div class="accordion-item">
                        <!--h3 class="home active">HOME</h3-->
                        <!--div class="info info-home" style="display:block;"-->
                        <div class="info info-home" style="display:block;">
                            <ul>
                                <li class="home-link" style="border-top:none; border-bottom: 1px solid #221f1f;"><a href="/">HOME</a></li>
                            </ul>
                        </div>
                        <h3 class="story" style="padding-top:9px; padding-bottom:0px; line-height:30px;">STORIES</h3>
                        <div class="info info-home" style="max-height:175px; overflow-y:scroll; padding-left:10px;">
                            <ul>
                                
                                
                                    <li class="columns-link"><a href="/stories/building-efficiency/">Building Efficiency</a></li>
                                
                                    <li class="columns-link"><a href="/stories/drug-spending/">Drug Costs</a></li>
                                
                                    <li class="columns-link"><a href="/stories/school-spending/">School Spending</a></li>
                                
                                    <li class="columns-link"><a href="/stories/transportation/">Transportation</a></li>
                                
                                    <li class="columns-link"><a href="/stories/poverty/">Poverty</a></li>
                                
                                    <li class="columns-link"><a href="/stories/climatechange/">Climate Change</a></li>
                                
                            </ul>
                        </div>
                        <div class="info info-home" style="display:block; padding-top:5px;">
                            <ul>
                                <li class="columns-link"><a href="/newsanalysis/">NEWS ANALYSIS</a></li>
                            
                                <li class="about-link"><a href="/about/">ABOUT</a></li>
                                <li class="contact-link"><a href="/contact/">CONTACT US</a></li>
                                <li class="support-us-link"><a href="/support-us/">SUPPORT US</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="form-widget">
                        <h4>SEARCH</h4>
                        <form action="/search/">
                            <input placeholder="Search" type="text" name="q">
                            <button type="submit">GO</button>
                        </form>
                    </div>
                    <div class="form-widget subscribe">
                        <h4>SIGN UP FOR THE WEEKLY EMAIL</h4>
                        <form action="/subscribe/" method="POST" onsubmit="newsletter_ajax_submit(this);">
                            <input placeholder="Enter your email" type="email" name="email">
                            <button type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>

            

            <div class="crolled-nav">
                <div class="trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <a class="logo" href="/"><img src="https://calmatters.org/static/theme/frontend/img/logo.png" alt="CALmatters" width="174" height="42" /></a>
                <ul class="follow">
                    
                    <li class="facebook">
                        <a href="http://facebook.com/sharer.php?u=https%3A%2F%2Fcalmatters.org%2F&amp;t=via%40CALmatters%20A+nonprofit%2C+nonpartisan+media+venture+explaining+California%27s+policies+and+politics" onclick="trackOutboundLink('http://facebook.com/sharer.php?u=https%3A%2F%2Fcalmatters.org%2F&amp;t=via%40CALmatters%20A+nonprofit%2C+nonpartisan+media+venture+explaining+California%27s+policies+and+politics'); return false;" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="twitter">
                        <a href="http://twitter.com/home?status=A+nonprofit%2C+nonpartisan+media+venture+explaining+California%27s+policies+and+politics%20via%20%40CALmatters%20https%3A%2F%2Fcalmatters.org%2F" onclick="trackOutboundLink('http://twitter.com/home?status=A+nonprofit%2C+nonpartisan+media+venture+explaining+California%27s+policies+and+politics%20via%20%40CALmatters%20https%3A%2F%2Fcalmatters.org%2F'); return false;" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="mail">
                        <a href="mailto:?subject=CALmatters&amp;body=A+nonprofit%2C+nonpartisan+media+venture+explaining+California%27s+policies+and+politics via CALmatters%0A%0Ahttps%3A%2F%2Fcalmatters.org%2F" onclick="trackOutboundLink('mailto:?subject=CALmatters&amp;body=A+nonprofit%2C+nonpartisan+media+venture+explaining+California%27s+policies+and+politics via CALmatters%0A%0Ahttps%3A%2F%2Fcalmatters.org%2F'); return false;" target="_blank"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="search">
                        <a href="/search/"><img src="https://calmatters.org/static/theme/frontend/img/ico_search.png" alt="Search" width="19" height="18"></a>
                    </div>
                    <div class="social">
                        <ul>
                            
                                <li><a href="https://www.facebook.com/calmatters" onclick="trackOutboundLink('https://www.facebook.com/calmatters'); return false;" class="st-icon-facebook st-icon-square" target="_blank"></a></li>
                            
                            
                                <li><a href="https://twitter.com/calmatters" onclick="trackOutboundLink('https://twitter.com/calmatters'); return false;" class="st-icon-twitter st-icon-square" target="_blank"></a></li>
                            
                            
                            
                            
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">CALmatters</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">HOME</a></li>
                            <li class="dropdown ">
                                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                                    class="dropdown-toggle">STORIES <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    
                                    
                                        <li><a class="
                                                " 
                                            href="/stories/building-efficiency/">Building Efficiency</a></li>
                                    
                                        <li><a class="
                                                " 
                                            href="/stories/drug-spending/">Drug Costs</a></li>
                                    
                                        <li><a class="
                                                " 
                                            href="/stories/school-spending/">School Spending</a></li>
                                    
                                        <li><a class="
                                                " 
                                            href="/stories/transportation/">Transportation</a></li>
                                    
                                        <li><a class="
                                                " 
                                            href="/stories/poverty/">Poverty</a></li>
                                    
                                        <li><a class="
                                                " 
                                            href="/stories/climatechange/">Climate Change</a></li>
                                    
                                </ul>
                            </li>
                            <li class=""><a href="/newsanalysis/">NEWS ANALYSIS</a></li>
                            
                            <li class=""><a href="/about/">ABOUT</a></li>
                            <li class=""><a href="/contact/">CONTACT US</a></li>
                            <li class=""><a href="/support-us/">SUPPORT US</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

    	    <div class="breadcrumbs up">
    	        <div class="container">
                    
                        
    <p>A nonprofit, nonpartisan media venture explaining California&#39;s policies and politics</p>

                    
    	        </div>
    	    </div>

        	

    	    <div id="body">
    	        <div class="container">

    	            <div id="itw_full" class="intheworks">
                        <div class="text">
                            <p class="itw_title">IN THE WORKS</p>
                            <div class="itw_list">
                                <div class="itw_links"><a href="#">Prescription Drug Pricing</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Building Effeciency</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Education is Fun</a></div>
                            </div>
                        </div>
                    </div><!-- In the Works Section Full Site-->

    
    <div id="upper_articles">
        <div id="main_article" class="featured-intr">
            <img src="https://calmatters.org/static/media//uploads/.thumbnails/VallejoHigh_0320.jpg/VallejoHigh_0320-1200x0.jpg" alt="Featured background one" />
            <div id="main_article_text" class="text">
                <h2>

                        <a href="/articles/education-advocates-fight-over-shades-of-democrat-in-june-election/">Education fight ‘over shades of Democrat’ </a>

                </h2>
                <p>
                    Money flows from business-backed school reform group in several northern California races. 
                </p>
                <p class="by">

                    by <a href="/about/staff/laurel-rosenhall" title="Laurel Rosenhall">Laurel Rosenhall</a>

                </p>
            </div>
        </div>
        <div class="sub_articles">
            <div id="second_article" class="featured-intr">
                <img src="https://calmatters.org/static/media//uploads/.thumbnails/Suspended_3.jpg/Suspended_3-1200x0.jpg" alt="Featured background one" />
                <div id="second_article_text" class="text">
                    <h2>
                        
                            <a href="/articles/prop-50-the-weirdest-measure-on-the-ballot-this-year/">Prop 50: The weirdest measure on the ballot this year</a>
                        
                    </h2>
                </div>
            </div>
        
            <div id="third_article"  class="featured-intr">
                <img src="https://calmatters.org/static/media//uploads/.thumbnails/Bixby.jpg/Bixby-1200x0.jpg" alt="Featured background one" />
                <div id="third_article_text" class="text">
                    <h2>
                        
                            <a href="/articles/how-some-schools-extend-accountability-beyond-test-scores/">What happens when you look past school test scores?</a>
                        
                    </h2>
                </div>
            </div>
        </div>
    </div>
     
    <div id="itw_mobile" class="intheworks">
        <div class="text">
            <p class="itw_title">IN THE WORKS</p>
            <div class="itw_list">
                <div class="itw_links"><a href="#">Prescription Drug Pricing</a></div>
                <div class="itw_links"><a href="#">Building Effeciency</a></div>
                <div class="itw_links"><a href="#">Education is Fun</a></div>
            </div>
        </div>
    </div><!-- In the Works Section Mobile-->
    
    <div id="news_partners_basics">
        <div id="news_partners">
            <div class="newsletter">
                <h2>Sign up for more</h2>
                <div class="form_holder">
                    <form  action="/subscribe/" onsubmit="newsletter_ajax_submit(this);" id="id-subscribe-form" method="post" ><div class="form-group" ><label for="id_email" class="control-label  requiredField">
                    Email<span class="asteriskField">*</span></label><div class="controls "><div class="input-group"><input class="textinput textInput form-control" id="id_email" name="email" placeholder="Enter your email" type="email" /> <span class="input-group-btn"><button  type="submit" class="btn">SUBMIT</button> </span></div></div></div></form>
                </div>  
            </div>

            <div class="partners">
                <div id="partners_text" class="text"><p>We publish with over 50 partners including:</p></div>
                    <div class="partner_logos">
                        <a target="_blank" href="http://www.latimes.com/"><img class="partner_img" src="../img/la_times_logo.png" alt="LA Times Logo"></a>
                        <a target="_blank" href="http://www.scpr.org/"><img class="partner_img" src="../img/kpcc_logo.png" alt="KPCC Logo"></a>
                        <a target="_blank" href="http://www.mercurynews.com/"><img class="partner_img" src="../img/mercury_news_logo.png" alt="The Mercury News Logo"></a>
                        <a href="#"><div id="more_partners_link">MORE PARTNERS</div></a>
                    </div>
                </div>
            </div>

        <div class="thebasics">
            <div class="basics_title">The Basics</div>
            <div id="basic1" class="basics_text">Top questions on climate change</div>
            <div id="basic2" class="basics_text">Top questions on school spending</div>
            <div id="basic3" class="basics_text">Top questions on transportation</div>
            <div id="basic4" class="basics_text">Top questions on poverty</div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <div id="recent_projects" class="intheworks">
        <div class="text">
            <p class="itw_title">RECENT PROJECTS</p>
            <div class="itw_list">
                <div class="itw_links"><a href="#">California's Climate Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Working Poor</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Crumbling Infrastructure</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Education Budget Fight</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Prescription Drug Pricing</a></div>
            </div>
        </div>
    </div>

    <div class="mid_section_links">
        <div id="education_box">
            <div id="education_title" class="text">Education</div>
            <img class="mid_section_img" src="../img/education_classroom.png">
        </div>
        <div id="finance_box">
            <div id="finance_title" class="text">Finance</div>
            <img class="mid_section_img" src="../img/finance_computer.png">
        </div>
        <div id="health_box">
            <div id="health_title" class="text">Health</div>
            <img class="mid_section_img" src="../img/health_stethoscope.png">
        </div>
        <div id="environment_box">
            <div id="environment_title" class="text">Environment</div>
            <img class="mid_section_img" src="../img/environment_windturbine.png">
        </div>
    </div>
<div style="clear:both;"></div>
    <div class="columnist">
        <div class="set">
            <div class="col">
                
                <a href="https://calmatters.org/newsanalysis/" class="black">News Analysis</a>
                
            </div>
            <div class="col">
                <h3>Laurel Rosenhall</h3>
                <a href="/newsanalysis/laurel-rosenhall/"><img src="https://calmatters.org/static/media/uploads/bios/.thumbnails/rosenhall_headshot_12072015.jpg/rosenhall_headshot_12072015-320x217.jpg" alt=""></a>
            </div>
            <div class="col">
                <ul>
                    
                    <li><a href="/articles/education-advocates-fight-over-shades-of-democrat-in-june-election/">Education fight ‘over shades of Democrat’ </a></li>
                    
                    <li><a href="/articles/prop-50-the-weirdest-measure-on-the-ballot-this-year/">Prop 50: The weirdest measure on the ballot this year</a></li>
                    
                    <li><a href="/articles/california-ponders-expanding-cap-and-trade-to-brazil/">California ponders expanding cap and trade to Brazil</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    


    
        



    <div class="home_atom embedded_home_atom">
        <div class="atom_embedded_content">
            <div class="text">
                <iframe src="/iframes/low_energy_home/" width=900 height=450></iframe>

            </div>
        </div>
    </div>



    <div class="headlines">
        <h2>More Headlines</h2>
        <div class="slides">

            
                <div class="item tem1">
                    <h3><a href="/articles/citys-benchmarking-was-first-in-california-statewide-program-to-follow/">San Francisco&#39;s &#39;benchmarking&#39; was first in California; state will follow</a></h3>

                    
                    <p>by <a href="/about/staff/julie-cart" title="Julie Cart">Julie Cart</a></p>
                    

                </div>
            
                <div class="item tem2">
                    <h3><a href="/articles/a-zero-energy-vision-for-california-homes-but-that-doesnt-mean-going-off-the-grid/">A &#39;zero net energy&#39; vision for California homes doesn’t mean going off the grid</a></h3>

                    
                    <p>by <a href="/about/staff/julie-cart" title="Julie Cart">Julie Cart</a></p>
                    

                </div>
            
                <div class="item tem3">
                    <h3><a href="/articles/california-officials-say-going-green-will-cost-you-a-little-save-you-a-lot/">California officials say going green will cost you some, save you some</a></h3>

                    
                    <p>by <a href="/about/staff/julie-cart" title="Julie Cart">Julie Cart</a></p>
                    

                </div>
            

        </div>
    </div>

    <div class="recent-stories articles">

        <div class="content">
            <h2>Articles</h2>

            <section>
                
                    <article>
                        <div class="image">
                            
                                <img src="https://calmatters.org/static/media/uploads/.thumbnails/calmatters_hep_c-210.jpg/calmatters_hep_c-210-310x220.jpg" alt="">
                            
                        </div>
                        <div class="wrap">
                            <div class="meta"><a href="/articles/">ARTICLES</a> 04.10.2016</div>
                            <h3>
                                
                                    <a href="/articles/california-takes-measures-to-control-drug-spending-but-costs-soar/">What&#39;s California&#39;s prescription for rising drug costs? </a>
                                
                            </h3>
                            <p>How high-cost drugs are impacting California. </p>

                            
                            <p class="by">by <a href="/about/staff/pauline-bartolone" title="Pauline Bartolone">Pauline Bartolone</a></p>
                            

                        </div>
                    </article>
                
                    <article>
                        <div class="image">
                            
                                <img src="https://calmatters.org/static/media/uploads/.thumbnails/AP_449434798681.jpg/AP_449434798681-310x220.jpg" alt="">
                            
                        </div>
                        <div class="wrap">
                            <div class="meta"><a href="/articles/">ARTICLES</a> 04.10.2016</div>
                            <h3>
                                
                                    <a href="/articles/would-a-california-ballot-measure-reduce-drug-spending-nobody-knows/">Would a California ballot measure cut drug costs? Nobody knows</a>
                                
                            </h3>
                            <p>Proponents say the California Drug Price Relief Act will result in tax savings while opponents say the measure is unclear.</p>

                            
                            <p class="by">by <a href="/about/staff/pauline-bartolone" title="Pauline Bartolone">Pauline Bartolone</a></p>
                            

                        </div>
                    </article>
                
                    <article>
                        <div class="image">
                            
                                <img src="https://calmatters.org/static/media/uploads/.thumbnails/tecfidera.jpg/tecfidera-310x220.jpg" alt="">
                            
                        </div>
                        <div class="wrap">
                            <div class="meta"><a href="/articles/">ARTICLES</a> 02.03.2016</div>
                            <h3>
                                
                                    <a href="/articles/the-other-high-cost-drugs-what-specialty-drugs-mean-for-california-1/">The other ‘high-cost’ drugs: What specialty drugs mean for California</a>
                                
                            </h3>
                            <p>Drugmakers are investing more in expensive pharmaceuticals that target a small population.</p>

                            
                            <p class="by">by <a href="/about/staff/pauline-bartolone" title="Pauline Bartolone">Pauline Bartolone</a></p>
                            

                        </div>
                    </article>
                

                <div class="more_articles">
                    <a href="/articles/" title="More Articles">More Articles</a>
                <div>

            </section>

        </div><!-- .content -->
    </div><!-- .recent-stories.articles -->



                </div><!-- .container -->
            </div><!-- .body -->

            

        </div><!-- .inner_wrapper -->
	</div><!-- main wrapper -->

        <footer id="footer">
        <div class="container hidden-print">
            <p>&copy; 2016 <a href="/">CALMATTERS</a>. All rights reserved.</p>
            <ul>
                <li><a href="/privacy-policy/">PRIVACY POLICY</a></li>
                <li><a href="/terms-conditions/">TERMS &amp; CONDITIONS</a></li>
                <li><a href="/support-us/">SUPPORT US</a></li>
                <li><a href="/subscribe/">EMAIL SIGNUP FOR NEWSLETTER</a></li>
            </ul>
        </div>
        <div class="container visible-print-block">
            <p style="text-transform:initial; font-style: italic; font-size: 1.3em;">CALmatters is a nonprofit, nonpartisan media venture explaining 
            California's policies and politics. Read more stories and sign up for the weekly newsletter at calmatters.org.</p>
        </div>
    </footer><!-- .footer -->

    
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    
        

    <script src="/static/theme/frontend/js/jquery.scrolldepth.min.js"></script>
    <script src="/static/theme/frontend/js/plugins.js"></script>
    <script src="/static/theme/frontend/js/bootstrap.min.js"></script>
    <script src="/static/theme/frontend/js/magnificpopup-1.0.0/jquery.magnific-popup.min.js"></script>
    <script src="/static/theme/frontend/js/main.js?version=1.3.9"></script>
    <script src="/static/theme/frontend/js/main-custom-follow.js?version=1.4.1"></script>
    <script src="/static/theme/frontend/js/fluidvids/fluidvids.min.js"></script>
    <script src="/static/theme/frontend/js/idm-ga-followeventtracker/idm-ga-followeventtracker.js?version=1.4.7"></script>

    <script>

        var custom_follow_csrf_token = "<input type='hidden' name='csrfmiddlewaretoken' value='UZI95X6CQMja7HbmHMGOsRimboZFAUwp' />"; // global for internal custom follow

        jQuery(document).ready(function(){
            
            /* bootstrap popover (tooltips) */
            jQuery('[data-toggle="popover"]').popover(); 

            /* google analytics plugin */
            jQuery(function() {
              jQuery.scrollDepth();
            });

            /* responsive videos */
            
            fluidvids.init({
        	   selector: ['iframe', 'object'], // runs querySelectorAll()
    	       players: ['www.youtube.com', 'player.vimeo.com', 'calmatters.org', 'ext.calmatters.org', 'stage.calmatters.org'] // players to support
            });

            /* wrap content images with caption */
            jQuery(".content .entry img, .pin-holder .sidebar img").each(function() {
                if(this.alt.length > 0 || this.title.length > 0) {
                    if(this.alt.length > 0) newalt = this.alt + '&nbsp;';
                    jQuery(this).replaceWith(''
                        + '<div class="caption">'
                        + jQuery(this)[0].outerHTML
                        + ' <p style="padding-bottom:0px;">' + newalt + '<span>' + this.title +'</span></p>'
                        + '</div>'
                    );
                } // if alt or title
              }); 

            /* force external links to new windows */
            jQuery(".content .entry a, .pin-holder .sidebar p a").each(function() {
                // if no target already set, and it's an external link
                if(this.target.length == 0 && this.href.match(/^((ft|htt)ps?:)?\/\/(?!calmatters\.org)/i)) {
                    this.target = '_blank';
                }
              }); 

            /* custom follow for internal */
            

            /* track all follow elements */
            idm_GA_FollowEventTracker.init();

        });


    </script>

        
    

</body>
</html>
