{% extends "base.html" %}
{% load static from staticfiles %}



{% block meta_title %}
    {% if category %}
        {{ category|title }}
    {% endif %}
{% endblock %}



{% comment %}
{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}
{% endcomment %}

{% block title %}
    {{ voter_guide.title }}
{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}

{% block article_detail_featured_image %}

    {% with voter_guide as article %}
        {% include 'includes/article_header_title.html' %}
    {% endwith %}

{% endblock %}


{% block main %}

    <div class="blog_list">
        <div class="pin-holder recent-stories se">
            <div class="content">
                <h2>
                    {% if category %}
                        {{ category|title }}
                    {% endif %}
                </h2>
                <section>
                    {% for proposition in propositions %}
                        <article class="">
                            <div class="image">
                                <a href="{{ proposition.get_absolute_url }}">
                                    {% if proposition.image.file %}
                                        <img src="{{ proposition.image.file.thumbnail.200x200}}">
                                    {% else %}
                                        <img src="{% static proposition.DEFAULT_IMAGE %}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="wrap">
                                <h3><a href="{{ proposition.get_absolute_url }}">{{ proposition.title }}</a></h3>
                                    <p>{{ proposition.description|truncatewords_html:20|safe }}</p>

                                </div>
                        </article>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>


{% endblock %}

