{% extends "base.html" %}
{% load static from staticfiles %}



{% block meta_title %}
    {% if category %}
        {{ category|title }}
    {% endif %}
{% endblock %}



{% comment %}
{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}
{% endcomment %}

{% block title %}
    {{ voter_guide.title }}
{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}

{% block article_detail_featured_image %}

    {% with voter_guide as article %}
        {% include 'includes/article_header_title.html' %}
    {% endwith %}

{% endblock %}


{% block main %}

    <div class="content dynamic-height-container">
        <div class="post-meta">
            <div class="author">
            </div>
            {% include 'includes/social_buttons.html' with show_follow_button=True %}
        </div>
        <div class="entry">
            {% if voter_guide.content %}
                {{ voter_guide.content|safe }}
            {%  endif %}
        </div>
    </div>

    <div class="blog_list">
        <div class="pin-holder recent-stories se">
            <div class="content" style="float: left ; border-top: thick solid black; border-bottom: thick solid black; ">
                <section>
                    {% for proposition in propositions %}
                        <article class="" style="margin-bottom: initial; overflow: initial; ">
                            <div class="image">
                                <a href="{{ proposition.get_absolute_url }}">
                                    <img src="{{ proposition.dark_icon_image.file.thumbnail.200x200}}">
                                </a>
                            </div>
                            <div class="wrap" style="min-height: inherit;">
                                <h3 style="font-weight: bold; font-size: 1.5em; line-height: 1.2em; margin-top: 5%;">
                                    <a href="{{ proposition.get_absolute_url }}">{{ proposition.title }}</a></h3>
                            </div>
                        </article>
                    {% endfor %}
                </section>

            </div>
        </div>
    </div>


{% endblock %}

