	<div class="jobs">
		<h4>CALmatters Email Updates</h4>
		<p>Sign up for new stories, and updates on the ones you care about, as they are released. You will receive one or two emails a week.</p>
        <form action="/subscribe/"
              method="POST"
              id="form_id_sidebar_subscribe"
              style="margin:0px;"
              onsubmit="subscribe_submit(this); return true;">
            <input placeholder="Enter your email" type="email" name="email" style="margin-bottom:10px;
			    height: 35px;
			    padding: 5px 10px;
			    font-size: 16px;
			    border:none;
			    color: #777;
				">
			<button type="submit" class="btn-primary">SUBSCRIBE</button>
        </form>
	</div>
