{% comment %}
    Loaded by the PopupSelect widget in render.  Shows an icon button.
    See popup_launcher.js for the control code.

    This code depends on the filebrowser_icon_show.gif to be in static.
{% endcomment %}

{% load static from staticfiles %}


<a style="padding:5px 16px;" id="{{ field_id }}_btn" class="fk_choose_btn">
    <img src="{% static 'filebrowser_icon_show.gif' %}">
</a>


<script type="application/javascript">
    (function($) {
        $(document).ready(function() {

            $("#{{ field_id }}_btn").on('click', function (evt) {

                evt.preventDefault();

                var path = "{{ url }}";

                window.save = function(fkID){
                    window.document.querySelectorAll("#{{ field_id }}")[0].value = fkID;
                    // alert("Saved: "+fkID);
                };

                var popup_window = window.open(
                        path,
                        "_blank",
                        "toolbar=yes,scrollbars=yes,resizable=yes,top=500, " +
                        "left=500,width=1250,height=800");

            });
        });
    })(django.jQuery);
</script>