

{% if article.image %}


        <style>
            .headline_image {
                background-position-y: 50%;
            }
        </style>

    {# Output image use with FB opengraph #}
    {% if article.facebook_image %}
        <img style="position:absolute; left=-9999px;" src="{{ article.facebook_image.file.thumbnail.1200x1200 }}" width="0" height="0">
    {% else %}
        <img style="position:absolute; left=-9999px;" src="{{ article.image.file.thumbnail.1200x1200 }}" width="0" height="0">
    {% endif %}



    {% if article.headline_layout == 'over' %}

        <div class="post-image {{ article.featured_image_title_position }} {{ article.featured_image_title_shade }}"
            style="background-image: url({{ article.image.file.thumbnail.1200x1200 }})">
            <div class="container">
                <h1>{% if article.icon_image %}<img class="title_icon_image" src="{{ article.icon_image.file.thumbnail.100x150 }}" /> {% endif %}{{ article.title }}</h1>
            </div>
        </div>
        <div class="post-image headline_off_image">
            <div class="meta">
                <div class="container">
                    {{ article.featured_image_description }}
                    {% if article.featured_image_credit %}
                        <span style="text-transform: uppercase;">PHOTOGRAPH BY {{ article.featured_image_credit }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

    {% elif article.headline_layout == 'above' %}

        <div class="post-image headline_off_image headline_above">
            <div class="container">
                <h1 class="{{ article.headline_layout }}">{% if article.icon_image %}<img class="title_icon_image" src="{{ article.icon_image.file.thumbnail.100x150 }}" /> {% endif %}{{ article.title }}</h1>
            </div>
            <div class="headline_image" style="background-image: url({{ article.image.file.thumbnail.1200x1200 }})"></div>
            <div class="meta">
                <div class="container">
                    {{ article.featured_image_description }}
                    {% if article.featured_image_credit %}
                        <span style="text-transform: uppercase;">PHOTOGRAPH BY {{ article.featured_image_credit }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}


        <div class="post-image headline_off_image headline_below">
            <div class="headline_image" style="background-image: url({{ article.image.file.thumbnail.1200x1200 }})"></div>
            <div class="meta">
                <div class="container">
                    {{ article.featured_image_description }}
                    {% if article.featured_image_credit %}
                        <span style="text-transform: uppercase;">PHOTOGRAPH BY {{ article.featured_image_credit }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <h1 class="{{ article.headline_layout }}">{% if article.icon_image %}<img class="title_icon_image" src="{{ article.icon_image.file.thumbnail.100x150 }}" /> {% endif %}{{ article.title }}</h1>
            </div>
        </div>

    {% endif %}

{% else %}

    <div class="post-image type-2">
        <div class="container">
            <h1>{% if article.icon_image %}<img class="title_icon_image" src="{{ article.icon_image.file.thumbnail.100x150 }}" /> {% endif %}{{ article.title }}</h1>
        </div>
    </div>

{% endif %}