{% if article.image %}

    {% if article.headline_image_offset %}
        <style>
            .post-image.over,
            .headline_image {
                background-position-y: {{ article.headline_image_offset }}% !important;
            }
        </style>
    {% endif %}


    {# Output image use with FB opengraph #}
    {% if article.facebook_image %}
        <img style="position:absolute; left=-9999px;" src="{{ article.facebook_image.file.thumbnail.1200x1200 }}" width="0" height="0">
    {% else %}
        <img style="position:absolute; left=-9999px;" src="{{ article.image.file.thumbnail.1200x1200 }}" width="0" height="0">
    {% endif %}



    {% if article.headline_layout == 'over' %}

        <div class="post-image {{ article.featured_image_title_position }} {{ article.featured_image_title_shade }} {{ article.headline_layout }} {{ article.headline_image_height }}"
            style="background-image: url({{ article.image.file.thumbnail.1200x1200 }})">
            <div class="container">
                {% if article.featured_image_title_shade == 'light' %}
                    <h1>{% if article.icon_image %}<img class="title_icon_image" src="{{ article.icon_image.file.thumbnail.70x70 }}" /> {% endif %}{{ article.title }}</h1>
                {% else %}
                    <h1>{% if article.dark_icon_image %}<img class="title_icon_image" src="{{ article.dark_icon_image.file.thumbnail.70x70 }}" /> {% endif %}{{ article.title }}</h1>
                {% endif %}
            </div>
        </div>
        <div class="post-image headline_off_image">
            <div class="meta">
                <div class="container">
                    {{ article.featured_image_description }}
                    {% if article.featured_image_credit %}
                        <span style="text-transform: uppercase;">IMAGE BY {{ article.featured_image_credit }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

    {% elif article.headline_layout == 'above' %}

        <div class="post-image headline_off_image headline_above {{ article.headline_image_height }}">
            <div class="container">
                <h1 class="{{ article.headline_layout }}">{% if article.dark_icon_image %}<img class="title_icon_image" src="{{ article.dark_icon_image.file.thumbnail.100x100 }}" /> {% endif %}{{ article.title }}</h1>
            </div>
            <div class="headline_image" style="background-image: url({{ article.image.file.thumbnail.1200x1200 }})"></div>
            <div class="meta">
                <div class="container">
                    {{ article.featured_image_description }}
                    {% if article.featured_image_credit %}
                        <span style="text-transform: uppercase;">IMAGE BY {{ article.featured_image_credit }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}


        <div class="post-image headline_off_image headline_below {{ article.headline_image_height }}">
            <div class="headline_image" style="background-image: url({{ article.image.file.thumbnail.1200x1200 }})"></div>
            <div class="meta">
                <div class="container">
                    {{ article.featured_image_description }}
                    {% if article.featured_image_credit %}
                        <span style="text-transform: uppercase;">IMAGE BY {{ article.featured_image_credit }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <h1 class="{{ article.headline_layout }}">{% if article.dark_icon_image %}<img class="title_icon_image" src="{% spaceless %}
                        {% if article.headline_layout == 'below_big' %}
                            {{ article.dark_icon_image.file.thumbnail.130x130 }}
                        {% else %}
                            {{ article.dark_icon_image.file.thumbnail.100x100 }}
                        {% endif %}
                    {% endspaceless %}" /> {% endif %}{{ article.title }}</h1>
            </div>
        </div>

    {% endif %}

{% else %}

    <div class="post-image type-2">
        <div class="container">
            <h1>{% if article.dark_icon_image %}<img class="title_icon_image" src="{{ article.dark_icon_image.file.thumbnail.100x100 }}" /> {% endif %}{{ article.title }}</h1>
        </div>
    </div>

{% endif %}