{% load staticfiles %}
<!--load pages_tags mezzanine_tags i18n future staticfiles blog_tags subscription_tags-->

    <script src="{% static 'theme/frontend/js/jquery.scrolldepth.min.js' %}"></script>
    <script src="{% static 'theme/frontend/js/plugins.js' %}"></script>
    <script src="{% static 'theme/frontend/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'theme/frontend/js/magnificpopup-1.0.0/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'theme/frontend/js/main.js' %}?version=1.3.9"></script>
    <script src="{% static 'theme/frontend/js/main-custom-follow.js' %}?version=1.4.1"></script>
    <script src="{% static 'theme/frontend/js/fluidvids/fluidvids.min.js' %}"></script>
    <script src="{% static 'theme/frontend/js/idm-ga-followeventtracker/idm-ga-followeventtracker.js' %}?version=1.4.7"></script>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            fluidvids.init({
                selector: ['iframe', 'object'], // runs querySelectorAll()
                players: ['www.youtube.com', 'player.vimeo.com', 'calmatters.org', 'ext.calmatters.org', 'stage.calmatters.org'] // players to support
            });
        });
    </script>

    <script type="text/javascript">

        {% comment %}var custom_follow_csrf_token = "{% nevercache %}{% csrf_token %}{% endnevercache %}"; // global for internal custom follow
        {% endcomment %}
        var custom_follow_csrf_token = "{% csrf_token %}"; // global for internal custom follow

        jQuery(document).ready(function(){

            /* bootstrap popover (tooltips) */
            jQuery('[data-toggle="popover"]').popover();

            /* responsive videos */
            {% comment %}
                TODO: remove calmatters 'players' once iframes get figured out
            {% endcomment %}

            {% comment %}
            fluidvids.init({
        	   selector: ['iframe', 'object'], // runs querySelectorAll()
    	       players: ['www.youtube.com', 'player.vimeo.com', 'calmatters.org', 'ext.calmatters.org', 'stage.calmatters.org'] // players to support
            });
            {% endcomment %}

            /* wrap content images with caption */
            jQuery(".content .entry img, .pin-holder .sidebar img").each(function() {
                if(this.alt.length > 0 || this.title.length > 0) {
                    if(this.alt.length > 0) newalt = this.alt + '&nbsp;';
                    jQuery(this).replaceWith(''
                        + '<div class="caption">'
                        + jQuery(this)[0].outerHTML
                        + ' <p style="padding-bottom:0px;">' + newalt + '<span>' + this.title +'</span></p>'
                        + '</div>'
                    );
                } // if alt or title
              });

            /* force external links to new windows */
            jQuery(".content .entry a, .pin-holder .sidebar p a").each(function() {
                // if no target already set, and it's an external link
                if(!this.target && this.href.match(/^((ft|htt)ps?:)?\/\/(?!calmatters\.org)/i)) {
                    $(this).attr("target", "_blank");
                }
              });

        });


    </script>
