{%  comment %}
  todo:  Generalize the domain and protocol below
{%  endcomment %}

<!-- Facebook Opengraph -->
<meta property="og:site_name" content="CALmatters"/>
<meta property="og:url" content="https://calmatters.org{{ article.get_absolute_url }}" />
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ article.description|truncatewords_html:30|safe }}" />

{% if article.facebook_share_image %}
    <meta property="og:image" content="https://calmatters.org{{ MEDIA_URL }}{{  article.facebook_share_image.thumbnail.1200x630 }}">
{% elif article.image %}
    <meta property="og:image" content="https://calmatters.org{{ MEDIA_URL }}{{ article.featured_image.thumbnail.1200x630 }}">
{% else %}
    <meta property="og:image" content="https://calmatters.org/static/img/logo_social.png">
{% endif %}

{% if facebook_author_url  %}
    <meta property="article:author" content="{{ facebook_author_url }}" />
{% endif %}
<!-- End Facebook Opengraph -->