    <footer id="footer">
        <div class="container hidden-print">
            <p>&copy; {% now 'Y' %} <a href="/">CALMATTERS</a>. All rights reserved.</p>
            <ul>
                <li><a href="/privacy-policy/">PRIVACY POLICY</a></li>
                <li><a href="/terms-conditions/">TERMS &amp; CONDITIONS</a></li>
                <li><a href="/support-us/">SUPPORT US</a></li>
                <li><a href="/subscribe/">EMAIL SIGNUP FOR NEWSLETTER</a></li>
            </ul>
        </div>
        <div class="container visible-print-block">
            <p style="text-transform:initial; font-style: italic; font-size: 1.3em;">CALmatters is a nonprofit, nonpartisan media venture explaining 
            California's policies and politics. Read more stories and sign up for the weekly newsletter at calmatters.org.</p>
        </div>
    </footer><!-- .footer -->