<!--load theme_extras-->

            <div class="left-scroll-menu">
                <div class="accordion-content">
                    <div class="accordion-item">
                        <!--h3 class="home {% if not blog_post %}active{% endif %}">HOME</h3-->
                        <!--div class="info info-home" style="{% if not blog_post %}display:block;{% endif %}"-->
                        <div class="info info-home" style="display:block;">
                            <ul>
                                <li class="home-link" style="border-top:none; border-bottom: 1px solid #221f1f;"><a href="/">HOME</a></li>
                            </ul>
                        </div>
                        <h3 class="story" style="padding-top:9px; padding-bottom:0px; line-height:30px;">PROJECTS</h3>
                        <div class="info info-home" style="max-height:175px; overflow-y:scroll; padding-left:10px;">
                            <ul>
                                {% for project in projects %}
                                    <li class="columns-link"><a href="/project/{{ project.slug }}/">{{ project.title }}</a></li>
                                {% endfor %}                             
                            </ul>
                        </div>
                        <div class="info info-home" style="display:block; padding-top:5px;">
                            <ul>
                                {% comment %}<li class="columns-link"><a href="{% url 'columns_list' %}">POLITICS</a></li>{% endcomment %}
                                <li class="columns-link"><a href="/">POLITICS</a></li>
                            {% comment %}
                                <li class="capitol-link"><a href="/capitol-insiders/">CAPITOL INSIDERS</a></li>
                            {% endcomment %}
                                <li class="about-link"><a href="/about/">ABOUT</a></li>
                                <li class="contact-link"><a href="/contact/">CONTACT US</a></li>
                                <li class="support-us-link"><a href="{% url 'donate' %}">DONATE</a></li>
                            </ul>
                        </div>
                    </div>
                    {% if blog_post %}
                        {% include "pages/menus/blog-slideout-nav.html" %}
                    {% elif story %}
                        {% include "pages/menus/story-slideout-nav.html" %}
                    {% endif %}
                    <div class="form-widget">
                        <h4>SEARCH</h4>
                        <form action="/search/">
                            <input placeholder="Search" type="text" name="q">
                            <button type="submit">GO</button>
                        </form>
                    </div>
                    <div class="form-widget subscribe">
                        <h4>SIGN UP FOR THE WEEKLY EMAIL</h4>
                        <form action="{% url 'subscribe' %}" method="POST" onsubmit="subscribe_submit(this); return true;">
                            <input placeholder="Enter your email" type="email" name="email">
                            <button type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>