    <div class="btns">
        <a class="custom_follow_element" title="You can get updates to this story as it develops in the political process."><i class="fa fa-rss"></i>FOLLOW THIS STORY</a>
        <a href="{{ sharing_url_facebook }}" onclick="trackOutboundLink('{{ sharing_url_facebook }}'); return false;" class="btn-success btn-social" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="{{ sharing_url_twitter }}" onclick="trackOutboundLink('{{ sharing_url_twitter }}'); return false;" class="btn-success btn-social" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="{{ sharing_url_email }}" onclick="trackOutboundLink('{{ sharing_url_email }}'); return false;" class="btn-success btn-social" target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="#" class="btn-success btn-social pr" target="_blank">
            <i class="fa fa-print"></i>
        </a>
    </div>

    {% block extra_js %}


        <script type="application/javascript">

            django.jQuery('a.custom_follow_element').click(function(evt){

                django.jQuery(this).html("<form><input type='text' name='email'/></form>");

            });

        </script>
    {% endblock %}