    <div class="btns">
        {% if show_follow_button %}<a class="custom_follow_element"></a>{% endif %}
        <a href="{{ sharing_url_facebook }}" onclick="trackOutboundLink('{{ sharing_url_facebook }}'); return false;" class="btn-success btn-social" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="{{ sharing_url_twitter }}" onclick="trackOutboundLink('{{ sharing_url_twitter }}'); return false;" class="btn-success btn-social" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="{{ sharing_url_email }}" onclick="trackOutboundLink('{{ sharing_url_email }}'); return false;" class="btn-success btn-social" target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="#" class="btn-success btn-social pr" target="_blank">
            <i class="fa fa-print"></i>
        </a>
    </div>
