    <div class="btns">
        {% if show_follow_button %}
            <a class="custom_follow_element" title="You can get updates to this story as it develops in the political process.">
                <i class="fa fa-rss"></i>FOLLOW THIS STORY</a>
        {% endif %}
        <a href="{{ formatted_sharing_urls_dict.facebook }}" onclick="trackOutboundLink('{{ formatted_sharing_urls_dict.facebook }}'); return false;" class="btn-success btn-social" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="{{ formatted_sharing_urls_dict.twitter }}" onclick="trackOutboundLink('{{ formatted_sharing_urls_dict.twitter }}'); return false;" class="btn-success btn-social" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="{{ formatted_sharing_urls_dict.email }}" onclick="trackOutboundLink('{{ formatted_sharing_urls_dict.email }}'); return false;" class="btn-success btn-social" target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="#" class="btn-success btn-social pr" target="_blank">
            <i class="fa fa-print"></i>
        </a>
    </div>

    {% block extra_js %}

        {% if show_follow_button %}
            <script type="application/javascript">

                django.jQuery('a.custom_follow_element').click(function(evt){

                    django.jQuery(this).html("<form><input type='text' name='email'/></form>");

                });
            </script>
        {% endif %}
    {% endblock %}