
{% extends "base.html" %}

{% block main %}
	<div class="pin-holder team-list">

        {% include "pages/about/team/includes/sidebar.html" %}

        <div class="content">
        <h2>{{ title }}</h2>
        <section>

            {% for person in people %}
              <article>

                {% if person.image %}
                    <div class="image">
                        {% if person.content %}<a href="{{ person.get_absolute_url }}">{% endif %}
                        <img src="{{ person.image.file.thumbnail.290x290 }}" alt="">
                        {% if person.content %}</a>{% endif %}
                    </div>
                {% endif %}

                <div class="left-side">
                      <h3>{{ person.job_title }}</h3>
                      <h4 {% if person.content %}
                              style="cursor:pointer;" onclick="location.href='{{ person.get_absolute_url }}'"
                      {% endif %}>{{ person.full_name }}</h4>
                      {% if person.twitter or person.email %}
                      <ul class="links">
                        {% if person.twitter %}
                        <li><a href="https://twitter.com/{{ person.twitter }}" class="ico-tw"></a></li>
                        {% endif %}
                        {% if person.email %}
                        <li><a href="mailto:{{ person.email }}" class="ico-email"></a></li>
                        {% endif %}
                      </ul>
                      {% endif %}
                      {% if person.exerpt %}
                      <div class="entry">
                        <p>{{ person.exerpt }}</p>
                      </div>
                      {% endif %}
                      {% if person.content %}
                          <p class="more"><a href="{{ person.get_absolute_url }}">MORE »</a></p>
                      {% endif %}
                    </div>
                  </article>
              {% endfor %}
        </section>

        </div>
            <!-- / content -->

	</div>


{%  endblock %}