{%  load staticfiles %}

        <div class="search-title alone">

            {% if results.paginator.count == 0 and query %}
                <div class="content">
                    <div class="alert alert-warning">No results found for: <strong>{{ query }}</strong></div>
                    <br>
                </div>
            {% endif %}

            <div class="content">
                <form id="search_form" action="/search/">
                    <input type="text" placeholder="Search" name="q" data-value="" />
                    <button class="btn btn-primary" type="submit">Go</button>
                </form>
            </div>
        </div>


    
        <div class="pin-holder ses">

            <div class="content">
                <h2>Projects</h2>
                
                <section class="features">

                    {% for feature in features %}
                        <article style="background-image: url({%  static 'img/bg_h_1.jpg'  %})">
                            <h3><a href="{% url 'project_detail' feature.slug %}">{{ feature.title }} »</a></h3>
                            <p><a href="{% url 'project_detail' feature.slug %}">{{ feature.content|truncatewords_html:20|striptags }}</a></p>
                        </article>
                    {% endfor %}            

                </section>
            </div><!-- .content -->

            <aside class="sidebar">
                <div class="popular-wi">
                    <div class="keywords">
                        <h3>Popular Keywords</h3>   
                        <div class="list">
                            <a href="{% url 'search' %}?q=Cap+and+Trade">Cap and Trade</a>,
                            <a href="{% url 'search' %}?q=Climate">Climate</a>,
                            <a href="{% url 'search' %}?q=AB+32">AB 32</a>,
                            <a href="{% url 'search' %}?q=de+León">de León</a>,
                            <a href="{% url 'search' %}?q=Steyer">Steyer</a>,
                            <a href="{% url 'search' %}?q=CARB">CARB</a>
                        </div>
                    </div>
                </div>
            </aside><!-- .sidebar -->

            <div class="more-stories">
                    
                <div class="content">
                    <h2>Most Popular Articles</h2>
                    
                    <section>
                        {% for story in more_stories %}
                            <article>
                                <div class="image">
                                    <a href="{{ story.get_absolute_url }}">
                                        {% if story.image %}
                                            <img src="{{ story.image.file.thumbnail.158x111 }}" />
                                        {% else %}
                                            <img src="{{ settings.DEFAULT_ARTICLE_IMAGE }}" />
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="wrap">
                                    <div class="meta">
                                        <a href="{{ story.get_post_type_url }}">{{story.get_custom_post_type_title|upper}}</a>
                                        {{ story.publish_date|date:"m.d.Y"}}
                                    </div>
                                    <h3><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></h3>

                                    {% if story.get_authors %}
                                    <p class="by">by {{ story.get_authors|safe }}</p>
                                    {% endif %}

                                </div>
                            </article>
                        {% endfor %}
            {% comment %}
            {% endcomment %}

                    </section>
                </div><!-- .content -->
            </div><!-- .more-stories -->

        </div><!-- .pin-holder ses -->
