	<div class="jobs">
		<h4>{{ settings.THEME_HOME_EMAIL_TITLE }}</h4>
		<p>{{ settings.THEME_HOME_EMAIL_TEXT }}</p>
        <form action="/subscribe/" method="POST" id="form_id_sidebar_subscribe" style="margin:0px;" onsubmit="newsletter_ajax_submit(this);">
            <input placeholder="Enter your email" type="email" name="email" style="margin-bottom:10px;
			    height: 35px;
			    padding: 5px 10px;
			    font-size: 16px;
			    border:none;
			    color: #777;
				">
			<button type="submit" class="btn-primary">SUBSCRIBE</button>
        </form>
	</div>
