DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'calmat_ng',
    }
}

SEND_SUBSCRIPTIONS_TO_MAIL_CHIMP = True

#  Main CALMatters List
# MAILCHIMP_API_KEY = 'bbd4a11d712364e23fee69e0b89e63a6-us11'
# MAILCHIMP_MAIN_LIST_ID = 'faa7be558d'
# MAILCHIMP_GROUPING_ID = 19089

#  Sandbox Test List
# MAILCHIMP_API_KEY = '3a8ed455e09e98a38499fb79e00c781c-us11'
# MAILCHIMP_MAIN_LIST_ID = '2df804b292'
# MAILCHIMP_GROUPING_ID = 11649

# MAILCHIMP_API_KEY = 'bbd4a11d712364e23fee69e0b89e63a6-us11'  #  CALMat acct
# MAILCHIMP_MAIN_LIST_ID = 'faa7be558d'  #  Main List CALMatters

#  Enable to relax password checker for testing
# AUTH_PASSWORD_VALIDATORS = []

# Shores keys
# STRIPE_SECRET_KEY = 'sk_test_zaQg1oB9QzLvU4M1jcV4wkO1'
# STRIPE_PUBLIC_KEY = 'pk_test_OQ60th2VFcDtRwCHU5H0MdbU'

#  Some other Test account??
STRIPE_SECRET_KEY = 'sk_test_B3VfIQVHvi0a9EJWO4aw7W5e'
STRIPE_PUBLIC_KEY = 'pk_test_iuuzfWtajuRHCDcGQZBQDEzy'

#  Libby's Keys
#STRIPE_PUBLIC_KEY = 'pk_test_iuuzfWtajuRHCDcGQZBQDEzy'
#STRIPE_SECRET_KEY = 'sk_test_B3VfIQVHvi0a9EJWO4aw7W5e'

#  Terry's Keys
#STRIPE_PUBLIC_KEY = 'pk_test_RmjKb0U6cijKpagymbsXXQ8k'
#STRIPE_SECRET_KEY = 'sk_test_ojsV47po7cciwX8ub6BGbIPO'

# old live Stripe API Keys for CALmatters
STRIPE_PUBLIC_KEY = 'pk_live_Yq6s9UTUS4jPAFC2M0A3OxO5'
STRIPE_SECRET_KEY = 'sk_live_UvlyLbiquDqE97n8vuYgCMnj'
