DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'calmat_ng',
    }
}

# MAILCHIMP_API_KEY = 'bbd4a11d712364e23fee69e0b89e63a6-us11'
# MAILCHIMP_MAIN_LIST_ID = 'faa7be558d'
# MAILCHIMP_GROUPING_NAME = u'Subject Interest'

# AUTH_PASSWORD_VALIDATORS = []
