{% extends "admin/change_list.html" %}

{% block extrahead %}
    {% if is_popup %}
        <script type="text/javascript">
        (function($) {
            $(document).ready(function($) {
                //  Shameless removal of unwanted UX.  Should find away
                //  to never have rendered these bits.  Todo: See templates
                $("#header").remove();
                $("#side-panel").remove();
                $(".action-checkbox").remove();

                //  Removing the Add button for now, for popups.
                //  Tehnically could let the users do this
                //  Todo:  Let them, but needs find tuning.
                // $(".object-tools").remove();
            });
        })(django.jQuery);
        </script>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

